
/*Listado de unidades*/

#indice .units ul li {
    background: #DAF0ED;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 8px;
    padding: 4px 16px 4px 0px;
}

#indice .units ul li a.delete {
    margin: 0px -12px 0 0;
}

#indice .units ul li a .title {
    font-size: 1.6rem;
    line-height: 1.25em;
    color: #047B9C;
    font-weight: 400;
}

#indice .units ul li.active:not(.disabled),
body:not(.isTablet) #indice .units ul li:hover:not(.disabled),
#indice .units ul li:focus:not(.disabled) {
    background: #047B9C;
}

body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover .title,
body:not(.isTablet) #indice .units ul li.active:not(.disabled) a .title {
    color: #fff;
    font-weight: 600;
}

/*Crear tema*/

#indice .units ul li.add, #indice .units ul li.add:focus,
#indice .units ul li.add:hover {
    background: #c9eaf3 repeat-y -1px;
}

#indice .units ul li.add .title,
#indice .units ul li.add .title:hover {
    color: #047B9C;
}

.plusBlink {
    background-color: #047B9C;
}

/*Crear actividad*/

#indice .unit-content .actividades .add,
#indice .unit-content .material .add {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #c9eaf3 repeat-y -1px;
}

#indice .unit-content .actividades .add .title,
#indice .unit-content .material .add .title {
    color: #047B9C;
}

/*Listado actividades*/
a:hover, a:active, a:focus {
    color: #047B9C;
}

#indice .drag-over {
    border-top-color: #047a9c;
    border-right-color: #047a9c;
    border-bottom-color: #047a9c;
    border-left-color: #047a9c;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #047a9c4d;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px #047a9c4d;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #047a9c4d;
}

#indice .units ul li.drag-over {
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.075) inset, 0 0 20px #047B9C;
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.075) inset,0 0 20px #047B9C;
    box-shadow: 0 0 0 rgba(0,0,0,0.075) inset, 0 0 20px #047B9C;
}


/* New icons and bg */

#indice .unit-content .actividades .add a.icon-actividad-add::before,
#indice .unit-content .material .add a.icon-actividad-add::before {
  background-image: url(images/icons-editmode/icon-activity.png); }
#indice .unit-content .actividades .add a.icon-img-add::before,
#indice .unit-content .material .add a.icon-img-add::before {
  background-image: url(images/icons-editmode/icon-image.png); }
#indice .unit-content .actividades .add a.icon-musica-add::before,
#indice .unit-content .material .add a.icon-musica-add::before {
  background-image: url(images/icons-editmode/icon-audio.png); }
#indice .unit-content .actividades .add a.icon-video-add::before,
#indice .unit-content .material .add a.icon-video-add::before {
  background-image: url(images/icons-editmode/icon-video.png); }
#indice .unit-content .actividades .add a.icon-archivo-add::before,
#indice .unit-content .material .add a.icon-archivo-add::before {
  background-image: url(images/icons-editmode/icon-file.png); }
#indice .unit-content .actividades .add a.icon-url-add::before,
#indice .unit-content .material .add a.icon-url-add::before {
  background-image: url(images/icons-editmode/icon-link.png); }
#indice .unit-content .actividades .add a.icon-libro-add::before,
#indice .unit-content .material .add a.icon-libro-add::before {
  background-image: url(images/icons-editmode/icon-digitalbook.png); }
#indice .unit-content .actividades .add a.icon-entregable-add::before,
#indice .unit-content .material .add a.icon-entregable-add::before {
  background-image: url(images/icons-editmode/icon-homework.png); }
#indice .unit-content .actividades .add a.icon-merge-add::before,
#indice .unit-content .material .add a.icon-merge-add::before {
  background-image: url(images/icons-editmode/icon-merge.png); }

#indice .unit-content .material .item .imagen.actividad::before {
  background-image: url(images/bg/bg01.jpg); }
#indice .unit-content .material .item .imagen.img::before,
#indice .unit-content .material .item .imagen.musica::before,
#indice .unit-content .material .item .imagen.video::before {
  background-image: url(images/bg/bg02.jpg); }
#indice .unit-content .material .item .imagen.url::before {
  background-image: url(images/bg/bg03.jpg); }
#indice .unit-content .material .item .imagen.libro::before {
  background-image: url(images/bg/bg04.jpg); }

a.icon-wikipedia-add:before,
.navbar .recursos .filter a.icon-wiki-add:before {
  background-image: url(images/icons-edistmode/icon-wikipedia.png); }

/* Info button */

.libro-left ul li a.active {
  background-color: #047B9C;
}
