@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600");
.body_curso {
  position: relative;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #252525;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2857142857em;
  background: #F5F5F5; }

.pearsonhe-container {
  max-width: 1000px;
  margin: 0 auto; }

#indice .units ul li {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #DAF0ED; }
  #indice .units ul li a {
    color: #047B9C; }
    #indice .units ul li a .title {
      font-family: "Open Sans", sans-serif;
      color: #252525;
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.25em;
      color: #047B9C;
      font-weight: 400; }
    #indice .units ul li a:not(.delete) {
      padding: 14px 12px 11px; }
  #indice .units ul li:not(.add) a .title {
    margin-left: 0px; }
  #indice .units ul li.active:not(.disabled), body:not(.isTablet) #indice .units ul li:hover:not(.disabled), #indice .units ul li:focus:not(.disabled) {
    background: #047B9C; }
    #indice .units ul li.active:not(.disabled) a, body:not(.isTablet) #indice .units ul li:hover:not(.disabled) a, #indice .units ul li:focus:not(.disabled) a {
      color: #DAF0ED; }
      #indice .units ul li.active:not(.disabled) a .title, body:not(.isTablet) #indice .units ul li:hover:not(.disabled) a .title, #indice .units ul li:focus:not(.disabled) a .title {
        color: #DAF0ED;
        font-weight: 600; }
#indice .unit-content {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
  #indice .unit-content .content {
    padding: 30px; }
  #indice .unit-content .header {
    height: 97px; }
    #indice .unit-content .header .title {
      font-family: "Open Sans", sans-serif;
      color: #252525;
      font-size: 28px;
      font-size: 2.8rem;
      line-height: 1.3571428571em;
      margin: 0;
      font-weight: 300;
      position: absolute;
      bottom: 0;
      left: 0;
      height: auto; }
  #indice .unit-content .actividades {
    border-top: 1px solid #C7C7C7; }
    #indice .unit-content .actividades .title-buttons {
      display: none; }
    #indice .unit-content .actividades .item {
      border-bottom: 1px solid #C7C7C7; }
      #indice .unit-content .actividades .item .title {
        font-family: "Open Sans", sans-serif;
        color: #252525;
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.25em;
        font-weight: 600; }
      #indice .unit-content .actividades .item .nota {
        display: none; }
      #indice .unit-content .actividades .item .pags {
        display: none; }
