@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600");
/* External Blink */
#actividad .content .header .title img {
  display: none; }

/* End External Blink */
.pearsonhe-title-1 {
  font-family: "Open Sans", sans-serif;
  color: #252525;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.3571428571em;
  margin: 0;
  font-weight: 300; }

.pearsonhe-description ul, .pearsonhe-description ol {
  margin: 4px 0 0 0;
  padding: 0; }
  .pearsonhe-description ul li, .pearsonhe-description ol li {
    margin: 0;
    padding: 0;
    position: relative; }
.pearsonhe-description ul li {
  padding-left: 12px; }
  .pearsonhe-description ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 3px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: #252525; }

#indice .unit-content .actividades .item .acceso,
#indice .unit-content .actividades .item .acceso.editorial,
#indice .unit-content .material .item .acceso,
#indice .unit-content .material .item .acceso.editorial {
  position: relative; }
  #indice .unit-content .actividades .item .acceso::before,
  #indice .unit-content .actividades .item .acceso.editorial::before,
  #indice .unit-content .material .item .acceso::before,
  #indice .unit-content .material .item .acceso.editorial::before {
    width: 18px;
    height: 18px;
    background-image: url("images/pearsonhe-locks.png");
    background-size: 72px 18px;
    background-position: -18px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #indice .unit-content .actividades .item .acceso.editorial.lock::before, #indice .unit-content .actividades .item .acceso.lock::before,
  #indice .unit-content .actividades .item .acceso.editorial.editorial.lock::before,
  #indice .unit-content .actividades .item .acceso.editorial.lock::before,
  #indice .unit-content .material .item .acceso.editorial.lock::before,
  #indice .unit-content .material .item .acceso.lock::before,
  #indice .unit-content .material .item .acceso.editorial.editorial.lock::before,
  #indice .unit-content .material .item .acceso.editorial.lock::before {
    background-position: 0 0; }
#indice .unit-content .actividades .item .acceso.editorial::before,
#indice .unit-content .material .item .acceso.editorial::before {
  background-position: -54px 0; }
#indice .unit-content .actividades .item .acceso.editorial.editorial.lock::before,
#indice .unit-content .material .item .acceso.editorial.editorial.lock::before {
  background-position: -36px 0; }

.body_curso {
  position: relative;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #252525;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5714285714em;
  background: #F5F5F5; }

.pearsonhe-container {
  max-width: 1000px;
  margin: 0 auto; }

#indice .units ul li, #indice .units ul li.active {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #DAF0ED;
  margin: 0;
  max-height: 0;
  transition: all .5s linear;
  overflow: hidden; }
  #indice .units ul li a, #indice .units ul li.active a {
    color: #047B9C; }
    #indice .units ul li a .title, #indice .units ul li.active a .title {
      font-family: "Open Sans", sans-serif;
      color: #252525;
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 1.3333333333em;
      color: #047B9C; }
    #indice .units ul li a:not(.delete), #indice .units ul li.active a:not(.delete) {
      padding: 6px 10px 6px 30px; }
  #indice .units ul li:not(.add) a .title, #indice .units ul li.active:not(.add) a .title {
    margin-left: 0px;
    margin-top: -26px; }
#indice .units ul li.pearsonhe-toc-subunit-active {
  max-height: 100px; }
#indice .units ul li.pearsonhe-toc-home {
  border: 1px solid #6A7070;
  background-color: transparent;
  max-height: none !important;
  margin-bottom: 10px; }
  #indice .units ul li.pearsonhe-toc-home a:not(.delete) {
    line-height: 1em;
    padding: 12px 12px 7px; }
  #indice .units ul li.pearsonhe-toc-home a .title {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1em;
    font-weight: 600;
    color: #6A7070;
    margin: 0; }
    #indice .units ul li.pearsonhe-toc-home a .title::before {
      content: '';
      width: 24px;
      min-width: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: baseline;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 48px 24px;
      background-image: url("images/pearsonhe-home.png");
      margin-right: 12px;
      margin-top: -5px; }
#indice .units ul li.pearsonhe-toc-unithead {
  margin-top: 10px;
  max-height: none !important; }
  #indice .units ul li.pearsonhe-toc-unithead a .title {
    font-family: "Open Sans", sans-serif;
    color: #252525;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.25em;
    color: #047B9C;
    font-weight: 400;
    position: relative; }
    #indice .units ul li.pearsonhe-toc-unithead a .title::before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: url("images/pearsonhe-dropdowns.png") 0 0 no-repeat;
      background-size: 36px 36px;
      width: 18px;
      height: 18px; }
  #indice .units ul li.pearsonhe-toc-unithead a:not(.delete) {
    padding: 14px 12px 11px; }
  #indice .units ul li.pearsonhe-toc-unithead_empty a .title::before {
    content: none; }
#indice .units ul li.pearsonhe-toc-unithead-ancestor a .title::before {
  background-position: -18px 0; }
#indice .units ul li.pearsonhe-toc-active:not(.disabled), body:not(.isTablet) #indice .units ul li:hover:not(.disabled), #indice .units ul li:focus:not(.disabled) {
  background: #047B9C; }
  #indice .units ul li.pearsonhe-toc-active:not(.disabled) a, body:not(.isTablet) #indice .units ul li:hover:not(.disabled) a, #indice .units ul li:focus:not(.disabled) a {
    color: #DAF0ED; }
    #indice .units ul li.pearsonhe-toc-active:not(.disabled) a .title, body:not(.isTablet) #indice .units ul li:hover:not(.disabled) a .title, #indice .units ul li:focus:not(.disabled) a .title {
      color: #DAF0ED;
      font-weight: 600; }
      #indice .units ul li.pearsonhe-toc-active:not(.disabled) a .title::before, body:not(.isTablet) #indice .units ul li:hover:not(.disabled) a .title::before, #indice .units ul li:focus:not(.disabled) a .title::before {
        background-position: 0 -18px; }
#indice .units ul li.pearsonhe-toc-home.active, body:not(.isTablet) #indice .units ul li.pearsonhe-toc-home:hover, #indice .units ul li.pearsonhe-toc-home:focus {
  color: #ffffff;
  background-color: #6A7070; }
  #indice .units ul li.pearsonhe-toc-home.active .title, body:not(.isTablet) #indice .units ul li.pearsonhe-toc-home:hover .title, #indice .units ul li.pearsonhe-toc-home:focus .title {
    color: #ffffff; }
    #indice .units ul li.pearsonhe-toc-home.active .title::before, body:not(.isTablet) #indice .units ul li.pearsonhe-toc-home:hover .title::before, #indice .units ul li.pearsonhe-toc-home:focus .title::before {
      background-position: -24px 0; }
#indice .unit-content {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
  #indice .unit-content .content {
    padding: 30px;
    margin-top: 0; }
  #indice .unit-content .header {
    height: 97px; }
    #indice .unit-content .header .title {
      font-family: "Open Sans", sans-serif;
      color: #252525;
      font-size: 28px;
      font-size: 2.8rem;
      line-height: 1.3571428571em;
      margin: 0;
      font-weight: 300;
      position: absolute;
      bottom: 0;
      left: 0;
      height: auto;
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute !important;
      width: 1px;
      word-wrap: normal !important; }
  #indice .unit-content .pearsonhe-header .pearsonhe-title-1 {
    margin-bottom: 30px; }
  #indice .unit-content .actividades {
    border-top: 1px solid #C7C7C7;
    margin-top: 14px; }
    #indice .unit-content .actividades .title-buttons {
      display: none; }
    #indice .unit-content .actividades .item {
      border-bottom: 1px solid #C7C7C7;
      padding: 0;
      min-height: 44px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #indice .unit-content .actividades .item .js-title {
        display: inline-block;
        flex-grow: 2; }
      #indice .unit-content .actividades .item .title {
        font-family: "Open Sans", sans-serif;
        color: #252525;
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.25em;
        font-weight: 600;
        padding: 6px 0 4px; }
        #indice .unit-content .actividades .item .title.not-homework {
          margin-left: 44px; }
      #indice .unit-content .actividades .item .icon-enviar {
        display: inline-block;
        vertical-align: middle;
        width: 44px;
        min-width: 44px;
        height: 44px;
        margin: 0;
        position: relative; }
        #indice .unit-content .actividades .item .icon-enviar img {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 25px;
          height: 25px; }
      #indice .unit-content .actividades .item .acceso {
        margin-top: 0;
        margin-bottom: 0;
        width: 44px;
        min-width: 44px;
        height: 44px; }
      #indice .unit-content .actividades .item .online {
        margin-top: 0;
        margin-bottom: 0;
        width: 44px;
        min-width: 44px;
        height: 44px;
        position: relative; }
        #indice .unit-content .actividades .item .online .fa {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      #indice .unit-content .actividades .item .nota {
        margin-top: 7px; }
      #indice .unit-content .actividades .item .pags {
        display: none; }

#indice .unit-content .actividades .item.pearsonhe-icon .title {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center; }
  #indice .unit-content .actividades .item.pearsonhe-icon .title::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    min-width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 12px 0 0; }

#indice .unit-content .actividades .item.pearsonhe-icon-animations .title::before {
  background-image: url("images/icons/animations.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-audio .title::before {
  background-image: url("images/icons/audio.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-concepts .title::before {
  background-image: url("images/icons/concepts.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-attachments .title::before {
  background-image: url("images/icons/attachments.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-cases .title::before {
  background-image: url("images/icons/cases.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-checklist .title::before {
  background-image: url("images/icons/checklist.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-code .title::before {
  background-image: url("images/icons/code.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-teachers .title::before {
  background-image: url("images/icons/teachers.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-etext .title::before {
  background-image: url("images/icons/etext.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-extra .title::before {
  background-image: url("images/icons/extra.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-extra2 .title::before {
  background-image: url("images/icons/extra2.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-figures .title::before {
  background-image: url("images/icons/figures.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-help .title::before {
  background-image: url("images/icons/help.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-links .title::before {
  background-image: url("images/icons/links.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-mindmap .title::before {
  background-image: url("images/icons/mindmap.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-games .title::before {
  background-image: url("images/icons/games.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-powerpoints .title::before {
  background-image: url("images/icons/powerpoints.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-tests .title::before {
  background-image: url("images/icons/tests.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-questions .title::before {
  background-image: url("images/icons/questions.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-solutions .title::before {
  background-image: url("images/icons/solutions.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-backinfo .title::before {
  background-image: url("images/icons/backinfo.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-video .title::before {
  background-image: url("images/icons/video.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-video2 .title::before {
  background-image: url("images/icons/video2.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-visualbrain .title::before {
  background-image: url("images/icons/visualbrain.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-self .title::before {
  background-image: url("images/icons/self.png"); }

#indice .unit-content .actividades .item.pearsonhe-icon-noicon .title::before {
  background-image: none; }

body.body_clase {
  background: #F5F5F5; }

#actividad .content {
  background: #F5F5F5; }
#actividad .carousel-inner .item-container {
  background: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
#actividad .class_slide .review {
  text-align: left; }

#swipeview-slider > div {
  background: #F5F5F5; }

.checkbox-option label.filter-label,
.slides_averages #cont_checkSelfCorrect label,
.slides_averages #cont_checkEvaluation label,
.radio-option label.filter-label {
  position: relative;
  line-height: 20px;
  padding-left: 32px; }
  .checkbox-option label.filter-label::before,
  .slides_averages #cont_checkSelfCorrect label::before,
  .slides_averages #cont_checkEvaluation label::before,
  .radio-option label.filter-label::before {
    content: '';
    background: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #6A7070;
    border-radius: 2px;
    background: #ffffff; }
  .checkbox-option label.filter-label::after,
  .slides_averages #cont_checkSelfCorrect label::after,
  .slides_averages #cont_checkEvaluation label::after,
  .radio-option label.filter-label::after {
    content: "\f00c";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    color: #ffffff;
    position: absolute;
    left: 3px;
    top: 3px; }

.checkbox-option input.filter-checkbox[type="checkbox"] + label.filter-label,
.radio-option input.filter-radio[type="radio"] + label.filter-label {
  line-height: 20px;
  padding-left: 32px; }

.checkbox-option input.filter-checkbox[type="checkbox"]:checked + label.filter-label::before,
.slides_averages #cont_checkSelfCorrect label::before,
.slides_averages #cont_checkEvaluation label::before,
.radio-option input.filter-radio[type="radio"]:checked + label.filter-label::before {
  background-color: #047B9C;
  color: #ffffff;
  border-color: #047B9C; }
.checkbox-option input.filter-checkbox[type="checkbox"]:checked + label.filter-label::after,
.slides_averages #cont_checkSelfCorrect label::after,
.slides_averages #cont_checkEvaluation label::after,
.radio-option input.filter-radio[type="radio"]:checked + label.filter-label::after {
  opacity: 1; }

#actividad .workspace.true-false .tf-option {
  margin-left: 0;
  margin-right: 20px;
  margin-top: 10px; }

.checkbox-option input.filter-checkbox[type="checkbox"]:checked + label.filter-label, .checkbox-option input.filter-checkbox[type="checkbox"]:disabled + label.filter-label,
.radio-option input.filter-radio[type="radio"]:checked + label.filter-label,
.radio-option input.filter-radio[type="radio"]:disabled + label.filter-label {
  cursor: default; }
  .checkbox-option input.filter-checkbox[type="checkbox"]:checked + label.filter-label.respuesta_ok::before, .checkbox-option input.filter-checkbox[type="checkbox"]:disabled + label.filter-label.respuesta_ok::before,
  .radio-option input.filter-radio[type="radio"]:checked + label.filter-label.respuesta_ok::before,
  .radio-option input.filter-radio[type="radio"]:disabled + label.filter-label.respuesta_ok::before {
    opacity: 1;
    background-color: #038238;
    border-color: #038238; }
  .checkbox-option input.filter-checkbox[type="checkbox"]:checked + label.filter-label.respuesta_ko::before, .checkbox-option input.filter-checkbox[type="checkbox"]:disabled + label.filter-label.respuesta_ko::before,
  .radio-option input.filter-radio[type="radio"]:checked + label.filter-label.respuesta_ko::before,
  .radio-option input.filter-radio[type="radio"]:disabled + label.filter-label.respuesta_ko::before {
    opacity: 1;
    background-color: #DB0021;
    border-color: #DB0021; }

#actividad .workspace.test .respuesta_ok,
#actividad .workspace.true-false .respuesta_ok {
  border-bottom: 0;
  color: #038238; }

#actividad .workspace.test .respuesta_ko,
#actividad .workspace.true-false .respuesta_ko {
  border-bottom: 0;
  color: #DB0021; }

.fb_right, .fb_wrong, .fb_solucion {
  justify-content: flex-start; }

.bck-dropdown.solucion-fb-dropdown {
  color: #047B9C;
  border-color: #047B9C; }
  .bck-dropdown.solucion-fb-dropdown .bck-dropdown-icon > .fa {
    color: #047B9C; }

.bck-dropdown.right-fb-dropdown {
  color: #038238;
  border-color: #038238; }
  .bck-dropdown.right-fb-dropdown .bck-dropdown-icon > .fa {
    color: #038238; }

.bck-dropdown.wrong-fb-dropdown {
  color: #DB0021;
  border-color: #DB0021; }
  .bck-dropdown.wrong-fb-dropdown .bck-dropdown-icon > .fa {
    color: #DB0021; }

.libro-left ul li a.book-index.active {
  background-color: #005A70; }

#book-index .col-indice {
  background: #005A70; }
#book-index .col-main {
  background: #047B9C; }
#book-index .pearsonhe-title-1 {
  padding: 0 15px;
  color: #DAF0ED; }
#book-index #indice .units ul li a .title {
  font-family: "Open Sans", sans-serif;
  color: #252525;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.3333333333em;
  color: #DAF0ED;
  font-weight: 400; }
#book-index #indice .units ul li a:not(.delete) {
  color: #DAF0ED;
  padding: 10px 30px 10px 30px; }
#book-index #indice .units ul li.pearsonhe-toc-unithead a .title {
  font-family: "Open Sans", sans-serif;
  color: #252525;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25em;
  color: #DAF0ED;
  font-weight: 400; }
#book-index #indice .units ul li.pearsonhe-toc-unithead a:not(.delete) {
  padding-left: 15px; }
#book-index #indice .unit-content .actividades .item {
  opacity: 1; }
  #book-index #indice .unit-content .actividades .item .title {
    font-family: "Open Sans", sans-serif;
    color: #252525;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.25em;
    color: #DAF0ED;
    font-weight: 400; }
  #book-index #indice .unit-content .actividades .item.current .title {
    color: #005A70; }
body:not(.isTablet) #book-index #indice .units ul li:not(.disabled) a:hover,
#book-index #indice .units ul li.active a {
  background: #047B9C; }
body:not(.isTablet) #book-index #indice .units ul li:not(.disabled) a:hover .title,
body:not(.isTablet) #book-index #indice .units ul li.active:not(.disabled) a .title {
  color: #DAF0ED;
  font-weight: normal; }
