
body.body_clase {
  background: $background_color;
}

#actividad {
  .content {
    background: $background_color;
  }
  .carousel-inner {
    .item-container {
      background: $negative_color;
      @include box-shadow(none);
    }
  }
  .class_slide {
    .review {
      text-align: left;
    }
  }
}

#swipeview-slider>div {
  background: $background_color;
}

// Checkbox and radiobuttons in slides

.checkbox-option label.filter-label,
.slides_averages #cont_checkSelfCorrect label,
.slides_averages #cont_checkEvaluation label,
.radio-option label.filter-label {
  position: relative;
  line-height: 20px;
  padding-left: 32px;
  &::before {
    content: '';
    background: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid $color_4;
    border-radius: 2px;
    background: $negative_color;
  }
  &::after {
    content: "\f00c";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    color: $negative_color;
    position: absolute;
    left: 3px;
    top: 3px;
  }
}

.checkbox-option input.filter-checkbox[type="checkbox"],
.radio-option input.filter-radio[type="radio"] {
  &+label.filter-label {
    line-height: 20px;
    padding-left: 32px;
  }
}

.checkbox-option input.filter-checkbox[type="checkbox"]:checked+label.filter-label,
.slides_averages #cont_checkSelfCorrect label,
.slides_averages #cont_checkEvaluation label,
.radio-option input.filter-radio[type="radio"]:checked+label.filter-label {
  &::before {
    background-color: $color_1;
    color: $negative_color;
    border-color: $color_1;
  }
  &::after {
    opacity: 1;
  }
}


#actividad .workspace.true-false .tf-option {
  margin-left: 0;
  margin-right: 20px;
  margin-top: 10px;
}

.checkbox-option input.filter-checkbox[type="checkbox"],
.radio-option input.filter-radio[type="radio"] {
  &:checked+label.filter-label,
  &:disabled+label.filter-label {
    cursor: default;
    &.respuesta_ok {
      &::before {
        opacity: 1;
        background-color: $color_6;
        border-color: $color_6;
      }
    }
    &.respuesta_ko {
      &::before {
        opacity: 1;
        background-color: $color_7;
        border-color: $color_7;
      }
    }
  }
}

#actividad {
  .workspace.test,
  .workspace.true-false {
    .respuesta_ok {
      border-bottom: 0;
      color: $color_6;
    }
  }
}
#actividad {
  .workspace.test,
  .workspace.true-false {
    .respuesta_ko {
      border-bottom: 0;
      color: $color_7;
    }
  }
}



// Feedback

.fb_right, .fb_wrong, .fb_solucion {
  justify-content: flex-start;
}
.bck-dropdown.solucion-fb-dropdown {
  color: $color_1;
  border-color: $color_1;
  .bck-dropdown-icon>.fa {
    color: $color_1;
  }
}
.bck-dropdown.right-fb-dropdown {
  color: $color_6;
  border-color: $color_6;
  .bck-dropdown-icon>.fa {
    color: $color_6;
  }
}
.bck-dropdown.wrong-fb-dropdown {
  color: $color_7;
  border-color: $color_7;
  .bck-dropdown-icon>.fa {
    color: $color_7;
  }
}

// Info

.libro-left ul li a.active {
  background-color: $color_1;
}

// Index

.libro-left ul li a.book-index.active {
  background-color: $color_5;
}

#book-index {
  .col-indice {
    background: $color_5;
  }
  .col-main {
    background: $color_1;
    &.pearsonhe-hidden {
      left: 0!important;
      opacity: 0;
      pointer-events: none;
    }
  }
  .pearsonhe-bookindex-header {
    margin-bottom: 10px;
  }
  .pearsonhe-title-1 {
    padding: 0 15px;
    color: $color_2;
  }
  #indice .units {
    ul {
      li {
        a {
          .title {
            @include text-ui-small();
            color: $color_2;
            font-weight: 400;
            flex-grow: 2;
          }
          &:not(.delete) {
            color: $color_2;
            padding: 10px 30px 10px 30px;
          }
        }
        &.pearsonhe-toc-subunit-woparent {
          a {
            &:not(.delete) {
              padding-left: 15px;
            }
          }
        }
        &.current-parent {
          a {
            &:not(.delete) {
              background: $color_1;
            }
            &:not(.delete),
            .title {
              color: $negative_color;
            }
          }
        }
        &.pearsonhe-toc-unithead {
          a {
            .title {
              @include text-ui-large();
              color: $color_2;
              font-weight: 400;
            }
            &:not(.delete) {
              padding-left: 15px;
            }
          }

        }
      }
    }
  }

  #indice .unit-content {
    .actividades {
      .item {
        opacity: 1;
        .title {
          @include text-ui-large();
          color: $color_2;
          font-weight: 400;
        }
        &.current {
          .title {
            color: $color_5;
          }
        }
      }
    }
  }
  body:not(.isTablet) & #indice .units ul li:not(.disabled) a:hover,
  #indice .units ul li.active a {
    background: $color_1;
  }
  body:not(.isTablet) & #indice .units ul {
    li:not(.disabled) a:hover,
    li.active:not(.disabled) a {
      .title {
        color: $color_2;
        font-weight: normal;
      }

    }
  }
}


/* EXTERNAL : NAVBAR */

#top-navigator {
	float: right;
	display: inline-block;
	width: auto;
	height: 44px;
	overflow: hidden;
	line-height: 5.0rem;
}

#top-navigator.show_left:before {
	background: -webkit-gradient(linear, left top, right top, from(#7aac39), to(transparent));
	background: -webkit-linear-gradient(left, #7aac39, transparent);
	background: -moz-linear-gradient(left, #7aac39, transparent);
	background: -o-linear-gradient(left, #7aac39, transparent);
	background: linear-gradient(to right, #7aac39, transparent);
}

#top-navigator.show_right:after {
	background: -webkit-gradient(linear, right top, left top, from(#7aac39), to(transparent));
	background: -webkit-linear-gradient(right, #7aac39, transparent);
	background: -moz-linear-gradient(right, #7aac39, transparent);
	background: -o-linear-gradient(right, #7aac39, transparent);
	background: linear-gradient(to left, #7aac39, transparent);
}

.pearsonhe-navbar h3 {
	width: 75%;
	margin: auto;
	margin-bottom: 15px;
	font-size: 2.0rem;
	font-weight: bold;
}

.pearsonhe-navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid black;
	background: #545759;
	;
}

body.is_app .pearsonhe-navbar {
	/*top: 0;*/
	-webkit-transition: top 0.5s linear;
	-o-transition: top 0.5s linear;
	-moz-transition: top 0.5s linear;
	transition: top 0.5s linear;
}

body.is_app .pearsonhe-navbar.ocultar {
	top: -136px;
}

.pearsonhe-navbar .navbar-content {
	width: 100%;
	height: 100%;
	padding: 0 20px;
	text-align: center;
}

.pearsonhe-navbar .copyright {
	color: #fff;
	line-height: 5.0rem;
}

.logo-publisher {
	float: left;
	display: block;
	width: 90px;
	height: 40px;
	margin: 5px 0;
	background: url(./images/logo.png) center center / auto 100% no-repeat
}

.slider-navigator {
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	font-size: 1.4rem;
	-webkit-transition: all ease-in .5s;
	-o-transition: all ease-in .5s;
	-moz-transition: all ease-in .5s;
	transition: all ease-in .5s;
	cursor: pointer;
}

.slider-navigator:hover,
.slider-navigator.disabled {
	opacity: .5;
	filter: alpha(opacity=50);
}

.slider-navigator.disabled {
	cursor: initial;
}

.slide-counter {
	color: #fff;
	font-size: 1.7rem;
}

/* END EXTERNAL : NAVBAR */
