#indice {
  .units {
    ul {
      li {
        @include border-radius(0px);
        background: $color_2;
        margin: 0;
        max-height: 0;
        transition: max-height .3s linear;
        overflow: hidden;
        a {
          color: $color_1;
          .title {
            @include text-ui-small();
            color: $color_1;
          }
          &:not(.delete) {
            padding: 6px 10px 6px 30px;
          }
        }
        &:not(.add) {
          a {
            .title {
              margin-left: 0px;
              margin-top: -26px;
            }
          }
        }

        &.pearsonhe-toc-subunit-active {
          max-height: 200px;
        }

        &.pearsonhe-toc-home {
          border: 1px solid $color_4;
          background-color: transparent;
          max-height: none!important;
          a {
            &:not(.delete) {
              padding-top: 12px;
              padding-bottom: 7px;
              line-height: 1em;
            }
            .title {
              display: inline-flex;
              justify-content: flex-start;
              align-items: center;
              text-transform: uppercase;
              @include font-size(1.2);
              line-height: 1em;
              font-weight: 600;
              color: $color_4;
              margin: 0;
              &::before {
                content: '';
                width: 24px;
                min-width: 24px;
                height: 24px;
                display: inline-block;
                vertical-align: baseline;
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: 48px 24px;
                background-image: url('images/pearsonhe-home.png');
                margin-right: 12px;
                margin-top: -5px;
              }
            }
          }
        }
        &.pearsonhe-toc-unithead {
          margin-top: 10px;
          max-height: none!important;
          a {
            .title {
              @include text-ui-large();
              color: $color_1;
              font-weight: 400;
            }
            &:not(.delete) {
              padding: 14px 12px 11px;
            }
          }
        }
        &.active,
        body:not(.isTablet) &:hover,
        &:focus {
          &:not(.disabled) {
            background: $color_1;
            a {
              color: $color_2;
              .title {
                color: $color_2;
                font-weight: 600;
              }
            }
          }
        }

        &.pearsonhe-toc-home {
          &.active,
          body:not(.isTablet) &:hover,
          &:focus {
            color: $negative_color;
            background-color: $color_4;
            .title {
              color: $negative_color;
              &::before {
                background-position: -24px 0;
              }
            }
          }
        }


      }
    }
  }

  .unit-content {
    @include border-radius(0px);
    .content {
      padding: $space_1;
      margin-top: 0;
    }
    .header {
      height: 97px;
      .title {
        @include page-ui-heading-small();
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;
        @include screen-reader-text();
      }
    }
    .pearsonhe-header {
      .pearsonhe-title-1 {
        margin-bottom: $space_1;
      }
    }
    .actividades {
      border-top: 1px solid $color_3;
      margin-top: 14px;
      .title-buttons {
        display: none;
      }
      .item {
        border-bottom: 1px solid $color_3;
        padding: 0;
        min-height: $space_2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .js-title {
          display: inline-block;
          flex-grow: 2;
        }
        .title {
          @include text-ui-large();
          font-weight: 600;
          padding: 6px 0 4px;

          &.not-homework {
            margin-left: $space_2;
          }
        }

        .icon-enviar {
          display: inline-block;
          vertical-align: middle;
          width: $space_2;
          min-width: $space_2;
          height: $space_2;
          margin: 0;
          position: relative;
          img {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 25px;
            height: 25px;
          }
        }
        .acceso {
          margin-top: 0;
          margin-bottom: 0;
          width: $space_2;
          min-width: $space_2;
          height: $space_2;
        }
        .online {
          margin-top: 0;
          margin-bottom: 0;
          width: $space_2;
          min-width: $space_2;
          height: $space_2;
          position: relative;
          .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
        .nota {
          margin-top: 7px;
        }
        .pags {
          display: none;
        }
      }
    }

    &.pearsonhe-toc-home-content {
      .actividades {
        //display: none; // TODO Ask blink
      }
    }
  }

}

// Icons in ToC

#indice .unit-content .actividades .item.pearsonhe-icon {
  .title {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      min-width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
      margin: 0 12px 0 0;
    }
  }
}

$icon_name : animations, audio, concepts, attachments, cases, checklist, code, teachers, etext, extra, extra2, figures, help, links, mindmap, games, powerpoints, tests, questions, solutions, backinfo, video, video2, visualbrain, self;
$icon_image_name : animations, audio, concepts, attachments, cases, checklist, code, teachers, etext, extra, extra2, figures, help, links, mindmap, games, powerpoints, tests, questions, solutions, backinfo, video, video2, visualbrain, self;
//$icon_image_name : animaties, audio, begrippen, bijlagen, cases, checklist, code, docenten, etext, extra, extra2, figuren, help, links, mindmap, oefenspellen, powerpoints, toetsen, toetsvragen, uitwerkingen, verdieping, video, video2, visualbrain, zelf;

@for $i from 1 through length($icon_name) {

  #indice .unit-content .actividades .item.pearsonhe-icon-#{nth($icon_name, $i)} {
    .title {
      &::before {
        background-image : url('images/icons/#{nth($icon_image_name, $i)}.png')
      }
    }
  }
}

#indice .unit-content .actividades .item.pearsonhe-icon-noicon {
  .title {
    &::before {
      background-image: none;
    }
  }
}
