#indice {
  .units {
    ul {
      li {
        @include border-radius(0px);
        background: $color_2;
        a {
          color: $color_1;
          .title {
            @include text-ui-large();
            color: $color_1;
            font-weight: 400;
          }
          &:not(.delete) {
            padding: 14px 12px 11px;
          }
        }
        &:not(.add) {
          a {
            .title {
              margin-left: 0px;
            }
          }
        }
        &.active,
        body:not(.isTablet) &:hover,
        &:focus {
          &:not(.disabled) {
            background: $color_1;
            a {
              color: $color_2;
              .title {
                color: $color_2;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .unit-content {
    @include border-radius(0px);
    .content {
      padding: $space_1;
    }
    .header {
      height: 97px;
      .title {
        @include page-ui-heading-small();
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;
      }
    }
    .actividades {
      border-top: 1px solid $color_3;
      .title-buttons {
        display: none;
      }
      .item {
        border-bottom: 1px solid $color_3;
        .title {
          @include text-ui-large();
          font-weight: 600;
        }
        .nota {
          display: none; // TODO Ask Blink
        }
        .pags {
          display: none;
        }
      }
    }
  }

}

// Icons in ToC

#indice .unit-content .actividades .item.pearsonhe-icon {
  .title {
    &::before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

$icon_name : animations, audio, concepts, attachments, cases, checklist, code, teachers, etext, extra, extra2, figures, help, links, mindmap, games, powerpoints, tests, questions, solutions, backinfo, video, video2, visualbrain, self;
$icon_image_name : animaties, audio, begrippen, bijlagen, cases, checklist, code, docenten, etext, extra, extra2, figuren, help, links, mindmap, oefenspellen, powerpoints, toetsen, toetsvragen, uitwerkingen, verdieping, video, video2, visualbrain, zelf;

@for $i from 1 through length($icon_name) {

  #indice .unit-content .actividades .item.pearsonhe-icon-#{nth($icon_name, $i)} {
    .title {
      &::before {
        background-image : url(images/icons/#{nth($icon_image_name, $i)}.png)
      }
    }
  }
}

#indice .unit-content .actividades .item.pearsonhe-icon-noicon {
  .title {
    &::before {
      background-image: none;
    }
  }
}
