#indice {
  .units {
    ul {
      li {
        @include border-radius(0px);
        background: $color_2;
        a {
          color: $color_1;
          .title {
            @include text-ui-large();
            color: $color_1;
            font-weight: 400;
          }
          &:not(.delete) {
            padding: 14px 12px 11px;
          }
        }
        &:not(.add) {
          a {
            .title {
              margin-left: 0px;
            }
          }
        }
        &.active,
        body:not(.isTablet) &:hover,
        &:focus {
          &:not(.disabled) {
            background: $color_1;
            a {
              color: $color_2;
              .title {
                color: $color_2;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .unit-content {
    @include border-radius(0px);
    .content {
      padding: $space_1;
    }
    .header {
      height: 97px;
      .title {
        @include page-ui-heading-small();
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;
      }
    }
    .actividades {
      border-top: 1px solid $color_3;
      .title-buttons {
        display: none;
      }
      .item {
        border-bottom: 1px solid $color_3;
        .title {
          @include text-ui-large();
          font-weight: 600;
        }
        .nota {
          display: none; // TODO Ask Blink
        }
        .pags {
          display: none;
        }
      }
    }
  }

}
