// Config stylesheet

$layout_max: 880px;

$background_color: #F5F5F5;

$primary_color: #252525;//Charcoal
$negative_color: #ffffff;

$color_1: #047B9C; //Digital Pearson Blue
$color_2: #DAF0ED; //Digital Ice Blue


// Spaces

$space_1: 30px;
