// Config stylesheet

$layout_max: 880px;

$background_color: #F5F5F5;

$primary_color: #252525;//Charcoal
$negative_color: #ffffff;

$color_1: #047B9C; //Digital Pearson Blue
$color_2: #DAF0ED; //Digital Ice Blue

$color_3: #C7C7C7; //Concrete
$color_4: #6A7070; //Medium gray

$color_5: #005A70; //Ink Blue

$color_6: #038238; //OK: Digital Grass Green
$color_7: #DB0021; //ERROR: Strawberry red

// Spaces

$space_1: 30px;
$space_2: 44px;
