// Titles

.pearson-title-1 {
  @include page-ui-heading-small();
}

// Buttons

// Locks

#indice {
  .unit-content {
    .actividades,
    .material {
      .item {
        .acceso {
          &::before {
            width: 18px;
            height: 18px;
            background-image: url('image/pearsonhe-locks.png');
            background-size: 36px 18px;
            background-position: -36px 0;
          }
          &.lock {
            &::before {
              background-position: 0 0;
            }
          }
        }
      }
    }
  }
}
