// Titles

.pearsonhe-title-1 {
  @include page-ui-heading-small();
}

// Text

.pearsonhe-description {
  ul,ol {
    margin: 4px 0 0 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      position: relative;
    }
  }
  ul {
    li {
      padding-left: 12px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: 3px;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: $primary_color;
      }
    }
  }
}

// Buttons

// Locks

#indice {
  .unit-content {
    .actividades,
    .material {
      .item {
        .acceso {
          position: relative;
          &::before {
            width: 18px;
            height: 18px;
            background-image: url('images/pearsonhe-locks.png');
            background-size: 36px 18px;
            background-position: -18px 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
          &.lock {
            &::before {
              background-position: 0 0;
            }
          }
        }
      }
    }
  }
}
