
@mixin text--base() {
  font-family: $font_family_1;
  color: $primary_color;
}

@mixin text--body() { //UI Text Basic
  @include text--base();
  @include font-size(1.4);
  line-height: (22em/14); //18em/14 in UI Kit
}

@mixin text-ui-large() {
  @include text--base();
  @include font-size(1.6);
  line-height: (20em/16)
}
@mixin text-ui-small() {
  @include text--base();
  @include font-size(1.2);
  line-height: (16em/12)
}


@mixin page-ui-heading-small() {
  @include text--base();
  @include font-size(2.8);
  line-height: (38em/28);
  margin: 0;
  font-weight: 300;
}
